#qisheL {
    left: 42.99%;
    top: 4.3%;
}

#qisheR {
    left: 51.2%;
    top: 4.3%;
}

#quepenL {
    left: 33.05%;
    top: 2.89%;
}

#quepenR {
    left: 61.1%;
    top: 2.89%;
}

#qihuL {
    left: 34.95%;
    top: 9.12%;
}

#qihuR {
    left: 59.2%;
    top: 9.12%;
}

#kufangL {
    left: 36.86%;
    top: 13.68%;
}

#kufangR {
    left: 57.3%;
    top: 13.68%;
}

#wuyiL {
    left: 38.5%;
    top: 19.56%;
}

#wuyiR {
    left: 55.7%;
    top: 19.56%;
}

#yongchuangL {
    left: 38.98%;
    top: 23.85%;
}

#yongchuangR {
    left: 55.2%;
    top: 23.85%;
}

#touzhuiL {
    left: 39.2%;
    top: 26.96%;
}

#touzhuiR {
    left: 55%;
    top: 26.96%;
}

#benshenL {
    left: 40.4%;
    top: 28.3%;
}

#benshenR {
    left: 53.8%;
    top: 28.3%;
}

#muchuangL {
    left: 42.1%;
    top: 27.4%;
}

#muchuangR {
    left: 52.1%;
    top: 27.4%;
}

#zutaiyangpangguangjinL {
    left: 44.63%;
    top: 23.8%;
}

#zutaiyangpangguangjinR {
    left: 49.55%;
    top: 23.8%;
}

#linqiL {
    left: 42.1%;
    top: 29.5%;
}

#linqiR {
    left: 52.1%;
    top: 29.5%;
}

#wuchuL {
    left: 44.63%;
    top: 28.3%;
}

#wuchuR {
    left: 49.55%;
    top: 28.3%;
}

#quchaL {
    left: 44.26%;
    top: 30.36%;
}

#quchaR {
    left: 49.9%;
    top: 30.36%;
}

#meichongL {
    left: 45.83%;
    top: 30.36%;
}

#meichongR {
    left: 48.33%;
    top: 30.36%;
}

#heyanL {
    left: 37.3%;
    top: 34.4%;
}

#heyanR {
    left: 56.9%;
    top: 34.4%;
}

#yangbaiL {
    left: 41.67%;
    top: 43.9%;
}

#yangbaiR {
    left: 52.5%;
    top: 43.9%;
}

#yuyaoL {
    left: 41.65%;
    top: 47.91%;
}

#yuyaoR {
    left: 52.5%;
    top: 47.91%;
}

#sizhukongL {
    left: 38.5%;
    top: 49.5%;
}

#sizhukongR {
    left: 55.66%;
    top: 49.5%;
}

#shangmingL {
    left: 41.65%;
    top: 49.8%;
}

#shangmingR {
    left: 52.5%;
    top: 49.8%;
}

#chuanzhuL {
    left: 44.25%;
    top: 48.7%;
}

#chuanzhuR {
    left: 49.9%;
    top: 48.7%;
}

#jingmingL {
    left: 43.83%;
    top: 52%;
}

#jingmingR {
    left: 50.3%;
    top: 52%;
}

#chengqiL {
    left: 41.87%;
    top: 54.3%;
}

#chengqiR {
    left: 52.3%;
    top: 54.3%;
}

#taiyangL {
    left: 37.84%;
    top: 52.73%;
}

#taiyangR {
    left: 56.32%;
    top: 52.73%;
}

#qiuhouL {
    left: 39.96%;
    top: 55.07%;
}

#qiuhouR {
    left: 54.2%;
    top: 55.1%;
}

#ermenL {
    left: 37.1%;
    top: 56.17%;
}

#ermenR {
    left: 57.1%;
    top: 56.17%;
}

#tinggongL {
    left: 37.15%;
    top: 57.8%;
}

#tinggongR {
    left: 57.04%;
    top: 57.8%;
}

#tinghuiL {
    left: 37.27%;
    top: 59.53%;
}

#tinghuiR {
    left: 56.87%;
    top: 59.53%;
}

#sibaiL {
    left: 42.1%;
    top: 56.9%;
}

#sibaiR {
    left: 52.1%;
    top: 56.9%;
}

#juliaoL {
    left: 41.44%;
    top: 64.2%;
}

#juliaoR {
    left: 52.7%;
    top: 64.2%;
}

#yingxiangL {
    left: 43.34%;
    top: 71.35%;
}

#yingxiangR {
    left: 50.81%;
    top: 71.35%;
}

#jiacheL {
    left: 39.4%;
    top: 76.4%;
}

#jiacheR {
    left: 54.78%;
    top: 76.4%;
}

#shoutaiyangxiaochangjingL {
    left: 40.4%;
    top: 78.66%;
}

#shoutaiyangxiaochangjingR {
    left: 53.77%;
    top: 78.66%;
}

#dicangL {
    left: 41.88%;
    top: 78.26%;
}

#dicangR {
    left: 52.3%;
    top: 78.26%;
}

#luhui {
    left: 47.1%;
    top: 23.46%;
}

#shangxing {
    left: 47.1%;
    top: 27.4%;
}

#shenting {
    left: 47.1%;
    top: 30.77%;
}

#yintang {
    left: 47.1%;
    top: 46.8%;
}

#suliao {
    left: 47.1%;
    top: 72.3%;
}

#renzhong {
    left: 47.1%;
    top: 75.99%;
}

#ruiduan {
    left: 47.1%;
    top: 78.26%;
}

#chengjiang {
    left: 47.1%;
    top: 84.2%;
}

#lianquan {
    left: 47.1%;
    top: 88.97%;
}
