#qisheL {
    left: 44.70%;
    top: 4.3%;
}

#qisheR {
    left: 53.2%;
    top: 4.3%;
}

#quepenL {
    left: 34.4%;
    top: 2.89%;
}

#quepenR {
    left: 63.53%;
    top: 2.89%;
}

#qihuL {
    left: 36.35%;
    top: 9.12%;
}

#qihuR {
    left: 61.56%;
    top: 9.12%;
}

#kufangL {
    left: 38.33%;
    top: 13.68%;
}

#kufangR {
    left: 59.57%;
    top: 13.68%;
}

#wuyiL {
    left: 40.03%;
    top: 19.56%;
}

#wuyiR {
    left: 57.9%;
    top: 19.56%;
}

#yongchuangL {
    left: 40.55%;
    top: 23.85%;
}

#yongchuangR {
    left: 57.4%;
    top: 23.85%;
}

#touzhuiL {
    left: 40.77%;
    top: 26.96%;
}

#touzhuiR {
    left: 57.17%;
    top: 26.96%;
}

#benshenL {
    left: 42%;
    top: 28.3%;
}

#benshenR {
    left: 55.91%;
    top: 28.3%;
}

#muchuangL {
    left: 43.76%;
    top: 27.4%;
}

#muchuangR {
    left: 54.16%;
    top: 27.4%;
}

#zutaiyangpangguangjinL {
    left: 46.41%;
    top: 23.8%;
}

#zutaiyangpangguangjinR {
    left: 51.52%;
    top: 23.8%;
}

#linqiL {
    left: 43.74%;
    top: 29.56%;
}

#linqiR {
    left: 54.14%;
    top: 29.53%;
}

#wuchuL {
    left: 46.39%;
    top: 28.3%;
}

#wuchuR {
    left: 51.52%;
    top: 28.3%;
}

#quchaL {
    left: 46.02%;
    top: 30.36%;
}

#quchaR {
    left: 51.89%;
    top: 30.36%;
}

#meichongL {
    left: 47.64%;
    top: 30.36%;
}

#meichongR {
    left: 50.28%;
    top: 30.36%;
}

#heyanL {
    left: 38.8%;
    top: 34.4%;
}

#heyanR {
    left: 59.13%;
    top: 34.4%;
}

#yangbaiL {
    left: 43.32%;
    top: 43.9%;
}

#yangbaiR {
    left: 54.6%;
    top: 43.9%;
}

#yuyaoL {
    left: 43.3%;
    top: 47.91%;
}

#yuyaoR {
    left: 54.6%;
    top: 47.91%;
}

#sizhukongL {
    left: 40.04%;
    top: 49.5%;
}

#sizhukongR {
    left: 57.91%;
    top: 49.5%;
}

#shangmingL {
    left: 43.33%;
    top: 49.84%;
}

#shangmingR {
    left: 54.61%;
    top: 49.84%;
}

#chuanzhuL {
    left: 46.01%;
    top: 48.7%;
}

#chuanzhuR {
    left: 51.89%;
    top: 48.7%;
}

#jingmingL {
    left: 45.6%;
    top: 52%;
}

#jingmingR {
    left: 52.34%;
    top: 52%;
}

#chengqiL {
    left: 43.55%;
    top: 54.32%;
}

#chengqiR {
    left: 54.38%;
    top: 54.32%;
}

#taiyangL {
    left: 39.37%;
    top: 52.73%;
}

#taiyangR {
    left: 58.57%;
    top: 52.73%;
}

#qiuhouL {
    left: 41.57%;
    top: 55.07%;
}

#qiuhouR {
    left: 56.36%;
    top: 55.1%;
}

#ermenL {
    left: 38.56%;
    top: 56.14%;
}

#ermenR {
    left: 59.38%;
    top: 56.14%;
}

#tinggongL {
    left: 38.64%;
    top: 57.8%;
}

#tinggongR {
    left: 59.3%;
    top: 57.8%;
}

#tinghuiL {
    left: 38.8%;
    top: 59.53%;
}

#tinghuiR {
    left: 59.17%;
    top: 59.53%;
}

#sibaiL {
    left: 43.76%;
    top: 56.9%;
}

#sibaiR {
    left: 54.17%;
    top: 56.9%;
}

#juliaoL {
    left: 43.1%;
    top: 64.2%;
}

#juliaoR {
    left: 54.82%;
    top: 64.2%;
}

#yingxiangL {
    left: 45.08%;
    top: 71.35%;
}

#yingxiangR {
    left: 52.85%;
    top: 71.35%;
}

#jiacheL {
    left: 40.98%;
    top: 76.43%;
}

#jiacheR {
    left: 56.95%;
    top: 76.43%;
}

#shoutaiyangxiaochangjingL {
    left: 42%;
    top: 78.66%;
}

#shoutaiyangxiaochangjingR {
    left: 55.92%;
    top: 78.66%;
}

#dicangL {
    left: 43.56%;
    top: 78.3%;
}

#dicangR {
    left: 54.38%;
    top: 78.3%;
}

#luhui {
    left: 48.96%;
    top: 23.46%;
}

#shangxing {
    left: 48.96%;;
    top: 27.4%;
}

#shenting {
    left: 48.96%;
    top: 30.77%;
}

#yintang {
    left: 48.96%;
    top: 46.8%;
}

#suliao {
    left: 48.96%;
    top: 72.3%;
}

#renzhong {
    left: 48.96%;
    top: 75.99%;
}

#ruiduan {
    left: 48.96%;
    top: 78.26%;
}

#chengjiang {
    left: 48.96%;
    top: 84.2%;
}

#lianquan {
    left: 48.96%;
    top: 88.97%;
}
